name: 3.Deploying services on EKS

on:
  workflow_dispatch:
          
#  push:
#    branches: [ main ]
#    paths:
#      - "k8s/**"

jobs:
  deploy:
    name: Deploy to EKS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Configure AWS
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-south-1

      # Update kubeconfig to connect to EKS cluster
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region ap-south-1 --name tempwindx-eks

      # Replace RDS endpoint dynamically in K8s ConfigMap/Secret
      - name: Substitute Environment Variables
        run: |
          RDS_ENDPOINT="${{ secrets.RDS_ENDPOINT }}"
          find k8s -type f -name "*.yaml" -exec sed -i "s|RDS_ENDPOINT_PLACEHOLDER|$RDS_ENDPOINT|g" {} \;

      # Apply namespaces
      - name: Apply Namespaces
        run: |
          kubectl apply -f k8s/namespace.yaml

      # Deploy Pushgateway First
      - name: Deploy Pushgateway
        run: |
          kubectl apply -f k8s/monitoring/pushgateway-deployment.yaml
          kubectl apply -f k8s/monitoring/pushgateway-service.yaml

      # Deploy Prometheus Second
      - name: Deploy Prometheus
        run: |
          kubectl apply -f k8s/monitoring/prometheus-config.yaml
          kubectl apply -f k8s/monitoring/prometheus-deployment.yaml
          kubectl apply -f k8s/monitoring/prometheus-service.yaml          

      # Deploy Grafana Last
      - name: Deploy Grafana
        run: |
          kubectl apply -f k8s/monitoring/grafana-deployment.yaml
          kubectl apply -f k8s/monitoring/grafana-service.yaml

      # Deploy Weather App (ConfigMap, Secret, Deployment, Service)
      - name: Deploy Weather Microservice
        run: |
          kubectl apply -f k8s/weather-app/configmap.yaml
          kubectl apply -f k8s/weather-app/secret.yaml
          kubectl apply -f k8s/weather-app/deployment.yaml
          kubectl apply -f k8s/weather-app/service.yaml


      # Show external URLs
      - name: Show Application URLs
        run: |
          echo "==================== SERVICE ENDPOINTS ===================="

          echo ""
          echo " Pushgateway URL:"
          kubectl get svc -n monitoring pushgateway -o jsonpath='{.status.loadBalancer.ingress[0].hostname}'
          echo ""

          echo " Prometheus URL:"
          kubectl get svc -n monitoring prometheus -o jsonpath='{.status.loadBalancer.ingress[0].hostname}'
          echo ""

          echo " Grafana URL:"
          kubectl get svc -n monitoring grafana -o jsonpath='{.status.loadBalancer.ingress[0].hostname}'
          echo ""

          echo "==========================================================="
