name: 5.Deploy Lambda

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies and create package.zip
      working-directory: ./lambda-code
      run: |
        pip install -r requirements.txt -t ./package
        cp app.py package/
        cd package && zip -r ../package.zip .

    - name: Build layer.zip
      working-directory: ./lambda-code
      run: |
        mkdir -p layer/python
        pip install -r requirements.txt -t layer/python
        cd layer && zip -r ../layer.zip .


    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ap-south-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.6.6

    - name: Terraform Init
      working-directory: ./lambda-code/terraform
      run: terraform init

    - name: Terraform Apply
      working-directory: ./lambda-code/terraform
      run: |
        terraform apply -auto-approve \
          -var "pg_host=${{ secrets.PG_HOST }}" \
          -var "pg_port=${{ secrets.PG_PORT }}" \
          -var "pg_db=${{ secrets.PG_DB }}" \
          -var "pg_user=${{ secrets.PG_USER }}" \
          -var "pg_pass=${{ secrets.PG_PASS }}" \
          -var "pushgateway_url=${{ secrets.PUSHGATEWAY_URL }}"

