name: Destroy Infra

on:
  workflow_dispatch:   # Manually triggered only for safety

jobs:
  destroy:
    name: Terraform Destroy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-south-1

      - name: Terraform Init
        working-directory: Infra_provisioning
        run: terraform init

      - name: Terraform Destroy
        working-directory: Infra_provisioning
        run: terraform destroy -auto-approve
